html {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
html::-webkit-scrollbar {
  display: none;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 4rem 0 0 0;
}
